form
{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: darkgray;
    padding: 15px;
    border-radius: 15px;
}

form h1
{
    text-align: center;
    color: white;
}

form input
{
    width: 80%;
    align-self: center;
    font-size: 20px;
    margin-bottom: 10px;
}

form .submit
{
    width: 60%;
    margin-bottom: 0;
}